<app-root>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <span class="fa fa-cog fa-spin fa-3x fa-fw col-md-offset-4 col-md-1 "></span>
    Loading...
</app-root>


<script type="text/javascript" src="~/js/inline.bundle.js"></script>
<script type="text/javascript" src="~/js/polyfills.bundle.js"></script>
<script type="text/javascript" src="~/js/scripts.bundle.js"></script>
<script type="text/javascript" src="~/js/main.bundle.js"></script>