
@{
    ViewData["Title"] = "You have successfully signed in to SKillset Database.";
}

<h2>SignIn</h2>


<script>
    var javacriptVariable = '@ViewData["sample"].ToString()';
        alert(javacriptVariable);

</script>